*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100%;
    background: url("bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}
.flex-wrap{
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.title{
    font-size: 24px;
    line-height: 63px;
    font-weight: 600;
    color: #707070;
    margin-bottom: 10px;
    margin-top: 40px;
}

.subtitle{
    font-size: 20px;
    line-height: 36px;
    font-weight: 600;
    color: #707070;
}
.text{
    font-size: 20px;
    font-weight: 300;
    color: #707070;
    text-align: center;
    margin-bottom: 30px;
}
.from-title{
    margin-top: 30px;
    font-size: 18px;
    line-height: 36px;
    font-weight: 300;
    color: #707070;
}
.form-wrap input{
    display: inline;
    height: 51px;
    border: none;
}
.form-text{
    width: 36%;
    padding: 10px;
}
.form-text::placeholder{
    font-weight: 300;
    color: #707070;
    font-size: 16px;
}
.form-notify{
    background-color: #707070;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    width: 26%;
    position: relative;
    bottom: 2px;
}
a:hover{
    text-decoration: none;
}
.spam{
    margin-top: 10px;
    font-size: 14px;
    line-height: 36px;
    font-weight: 300;
    color: #707070;
}
.icons{
    margin-top: 20px;
}
.icons i{
    margin-left: 25px;
    font-size: 30px;
    line-height: 63px;
    font-weight: 400;
    text-transform: uppercase;
    color: #707070;
}

@media screen and (max-width: 768px){
    body{
        height: 100vh;
    }
    .title{
        font-size: 20px;
    }
    .subtitle,.text{
        font-size: 16px;
    }
    .text{
        width: 80%;
    }
    .from-title{
        font-size: 14px;
    }
    .form-text{
        width: 32%;
    }
    .form-notify{
        width: 30%;
    }
}
